    <tr>
        <td class="coverFile" ><a href="{{link_file}}">{{source_file}}</a></td>
      <td class="coverBar" align="center" >
        <table border=0 cellspacing=0 cellpadding=1><tr><td class="coverBarOutline">
                    <div class="graph"><strong class="bar" style="width:{{coverage}}%; background-color:{{bar_color}}"></strong></div>
                </td></tr></table>
      </td>
      <td class="CoverValue" style="font-weight:bold; background-color:{{c_color}};">{{coverage}}&nbsp;%</td>
      <td class="CoverValue" style="font-weight:bold; background-color:{{c_color}};">{{covered_lines}} / {{changed_lines}}</td>
      <td class="CoverValue" style="background-color:LightPink;">x&nbsp;%</td>
      <td class="CoverValue" style="background-color:LightPink;">x / x</td>
    </tr>
